{% extends "beamish2_app/site_base.html" %}
{% load static %}

{% block subheading1 %}
{% endblock %}

{% block content1 %}

<div class="card mb-3 w-100">
  <div class="row no-gutters">
    <div class="col-md-4">
      <!-- Image borrowed from https://nomadsworld.com/western-australia-guide/ -->
      <img src="static/images/wa1.webp" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">About the WA Mine Site Directory</h5>
        <p class="card-text">
          The principle topic of the site are Western Australian
          mine sites. These sites have a number of characteristics, of which
          the lease holding company and type of minerals being mined are arguably
          two of the most important.
          </p>
        <p class="card-text"><small class="text-muted">James Beamish s324587 - HIT237 Assignment 2
        </small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
