{% extends "beamish2_app/site_base.html" %}
{% load static %}

{% block subheading1 %}

<div class="alert alert-dark" align="center" role="alert" style="background-color: #CABD93">
  Please enter new Minesite details
</div>

{% endblock %}

{% block content1 %}

<form action="submitMines" align="center" method="post" novalidate>
{% csrf_token%}
<div align="left">
<table>
{{ mine_form.as_table }}
</table>
</div>
<button type="submit" name="add_mine" class="btn btn-light" style="background-color: #CABD93">Add Minesite</button>
</form>

{% endblock %}
